{% extends 'index.html' %}


{% block content %}

<body>
<div id="subtitle_name"><h2>Question: {{ data.title }}</h2></div>
<table>
    <thead>
    <tr>
        <td>
            <h4>Title</h4>
        </td>
        <td>
            <h4>Message</h4>
        </td>
        <td>
            <h4>Submission Time</h4>
        </td>
        <td>
            <h4>View Number</h4>
        </td>
        <td colspan="3">
            <h4>Vote Number</h4>
        </td>
        <td>
            <h4>Image</h4>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>{{ data.title }}</strong></td>
        <td>{{ data.message |e }}</td>
        <td>{{ data.submission_time }}</td>
        <td>{{ data.view_number }}</td>
        <td>{{ data.vote_number }}</td>
        <td>
            <button type="button" class="vote"><a href="/question/{{ data.id }}/vote_up"><i class="fa fa-thumbs-o-up"></i></a></button>
        </td>
        <td>
            <button type="button" class="vote"><a href="/question/{{ data.id }}/vote_down"><i class="fa fa-thumbs-o-down"></i></a></button>
        </td>
        <td><img src="{{ data.image }}" height="150" alt="image from url"></td>
    </tr>
    </tbody>
    {% if 'user_id' in session %}
    <div class="btns">
        <button type="button" class="border_btn"><a href="/question/{{ id }}/new-tag">Add Tags</a></button>
    </div>
        <div class="btns">
        {% for tag in tags %}

            <button type="button" class="vote">{{ tag.get('name','') }}</button>
            <button type="button" style="margin-right: 10px" class="vote"><a href="/question/{{ id }}/tag/{{ tag.get('tag_id','') }}/delete">X</a></button>

        {% endfor %}
    </div>

    {% endif %}
</table>

{% if 'user_id' in session %}
<div class="btns">
<button type="button" class="border_btn"><a href="/question/{{ id }}/edit">Edit question</a></button>
<button type="button" class="border_btn"><a href="/question/{{ id }}/delete">Delete question</a></button>

<button type="button" class="border_btn"><a href="/question/{{ id }}/new-comment">Add comment</a></button>
</div>
{% endif %}
<hr><br><br>

<div class="comment"><h4>Comments</h4>
    {%for comment in comment_id_question%}
    <p>{{ comment.message }} - {{comment.submission_time}} &nbsp Edited {{ comment.edited_count }} times &nbsp {% if 'user_id' in session %}
        <button style="font-size:24px" class="vote"><a href="/comment/{{ comment.id }}/delete"
                                          onclick="return confirm('Are you sure you want to delete this item?');"><i
                class="fa fa-trash-o"></i></a></button>
    </p>

    <button type="button" class="border_btn"><a href="/comment/{{ comment.id }}/edit">Edit comment</a></button>
    {% endif %}
    {% endfor %}
</div>

</table><br>



<hr>
<hr>
<table><br><br>
    <thead>
    <tr>
        <td>
            <h4>Message</h4>
        </td>
        <td>
            <h4>Submission Time</h4>
        </td>
        <td colspan="3">
            <h4>Vote Number</h4>
        </td>

        <td>
            <h4>Image</h4>
        </td>
    </tr>
    </thead>
    <tbody>

    <h2>Answers</h2>

    {% for answer in answers %}
    <tr>
        <td>{{ answer.message }}</td>
        <td>{{ answer.submission_time }}</td>
        <td>{{ answer.vote_number }}</td>
        <td>
            <button type="button" class="vote"><a href="/answer/{{ answer.id }}/vote_up"><i class="fa fa-thumbs-o-up"></i></a>
            </button>
        </td>
        <td>
            <button type="button" class="vote"><a href="/answer/{{ answer.id }}/vote_down"><i class="fa fa-thumbs-o-down"></i></a>
            </button>
        </td>
        <td><img src="{{ answer.image }}" height="150" alt="image from url"></td>

        {% if 'user_id' in session %}
        <td>
            <button type="button" class="border_btn"><a href="/answer/{{ answer.id }}/delete">Delete answer</a></button>
        </td>
        <td>
            <button type="button" class="border_btn"><a href="/answer/{{ answer.id }}/edit">Edit Answer</a></button>
        </td>
        <td>
            <button type="button" class="border_btn"><a href="/answer/{{ answer.id }}/new-comment">Add comment</a></button>
        </td>
        {% endif %}

        <td>
        {% if 'user_id' in session %}
            {% if session['user_id'] == data.user_id %}
            {% if answer.valid == False %}
            <td><button type="button" class="border_btn"><a href="/answer/{{ answer.id }}/True">Validate</a></button></td>
            {% else %}
            <td><button type="button" class="border_btn"><a href="/answer/{{ answer.id }}/False">Invalidate</a></button></td>
            {% endif %}
            {% endif %}
        {% endif%}
        {% if answer.valid %}
        <td><h1>&#10004;</h1></td>
        {% endif %}

        </td>
        <td><div id="myDIV"> </div></td>

    </tr>

    {% for comment in comment_id_answer %}
    {% if answer.id == comment.answer_id %}

    <tr ><td colspan="8"><div class="comment">{{ comment.message }} - {{comment.submission_time}} &nbsp Edited {{ comment.edited_count }} times &nbsp
        {% if 'user_id' in session %}
        <button type="button" class="border_btn"><a href="/comment/{{ comment.id }}/edit">Edit comment</a></button>
        <button style="font-size:24px" class="vote"><a href="/comment/{{ comment.id }}/delete"
                                          onclick="return confirm('Are you sure you want to delete this item?');"><i
                class="fa fa-trash-o"></i></a></button>
        {% endif %}
    </div></td></tr>



    {% endif %}
    {% endfor %}
    <br>
    {% endfor %}


    </tbody>
</table>



{% if 'user_id' in session %}
<div class="btns">
<button type="button" class="border_btn"><a href="/question/{{ id }}/new_answer">New Answer</a></button>
</div>
    {% endif %}
<br><br><br><br><br><br>

</body>
{% endblock %}


