{% extends 'index.html' %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <td><h5><b>Username</b></h5></td>
      <td><h5><b>Registration date</b></h5></td>
      <td><h5><b>Count of asked questions</b></h5></td>
      <td><h5><b>Count of answers</b></h5></td>
      <td><h5><b>Count of comments</b></h5></td>
      <td><h5><b>Reputation</b></h5></td>
    </tr>
  </thead>
  <tbody>
        {% for user in users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.submission_time }}</td>
      <td>{{ user.count_questions }}</td>
      <td>{{ user.count_answers }}</td>
      <td>{{ user.count_comments }}</td>
      <td>{{ user.reputation }}</td>
    </tr>
        {% endfor %}
  </tbody>
</table>

<h2>Question asked</h2>
<table>
  <thead>
    <tr>
      <td><h3>Title</h3></td>
      <td><h3>Message</h3></td>
      <td><h3>Submission Time</h3></td>
      <td><h3>View no.</h3></td>
      <td><h3>Vote no.</h3></td>
      <td><h3>Image</h3></td>
    </tr>
  </thead>
  {% for question in questions_asked %}
  <tr>
    <td><a href="/question/{{ question.id }}"><strong>{{question.title}}</strong></a></td>
    <td>{{question.message}}</td>
    <td>{{question.submission_time}}</td>
    <td>{{question.view_number}}</td>
    <td>{{question.vote_number}}</td>
    <td><img src="{{ question['image'] }}" height="150" alt="image from url"></td>
  </tr>
  {% endfor %}
</table>

<h2>Posted answer</h2>
<table>
    <thead>
    <tr>
      <td><h3>Question title</h3></td>
      <td><h3>Message</h3></td>
      <td><h3>Submission Time</h3></td>
      <td><h3>Vote no.</h3></td>
      <td><h3>Image</h3></td>
    </tr>
  </thead>
  {% for answer in answers %}
  <tr>
    <td><a href="/question/{{ answer.question_id }}"><strong>{{answer.title}}</strong></a></td>
    <td>{{answer.message}}</td>
    <td>{{answer.submission_time}}</td>
    <td>{{answer.vote_number}}</td>
    <td><img src="{{ answer['image'] }}" height="150" alt="image from url"></td>
  </tr>
  {% endfor %}
</table>


<h2>Posted comments</h2>
<table>
  <thead>
    <tr>
      <td><h3>Question title</h3></td>
      <td><h3>Message</h3></td>
      <td><h3>Submission Time</h3></td>
      <td><h3>Edited count</h3></td>
    </tr>
  </thead>
{% for comment in comments %}
  <tr>
    <td><a href="/question/{{ comment.question_id }}"><strong>{{comment.title}}</strong></a></td>
    <td>{{comment.message}}</td>
    <td>{{comment.submission_time}}</td>
    <td>{{comment.edited_count}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}